In [10]:
import logging
from NNTrade.datasource.stock_quote_loader_lib.loader.yahoo import YahooStockQuoteLoader
from NNTrade.datasource.stock_quote_loader_lib.loader.config import QuoteRequest, ChartConfig
from NNTrade.common.time_frame import TimeFrame
from NNTrade.datasource.stock_quote_loader_lib.cache import FileCache
from datetime import date,datetime
from src.dto.candleDto import CandleDto

In [11]:
import logging

logging.basicConfig(format='\033[93m%(asctime)s %(levelname)s %(name)s:\033[0m %(message)s', level=logging.INFO, datefmt='%I:%M:%S')
import warnings
import pandas as pd

warnings.simplefilter(action='ignore', category=pd.errors.PerformanceWarning)
warnings.simplefilter(action="ignore", category=pd.errors.SettingWithCopyWarning)

In [12]:
cache = FileCache("./cached_files")
expected_request = QuoteRequest(ChartConfig("EURUSD=X",TimeFrame.D), date(2020,2,3), date(2020,2,6))
expected_df = YahooStockQuoteLoader(cache).download( expected_request)
expected_df

12:20:37 INFO AbsStockQuoteLoader: No cached data
12:20:37 INFO func yahoo_loader.load_stock_candles: Start download from yahoo finance
12:20:37 INFO func yahoo_loader.load_stock_candles: Download stock EURUSD=X timeframe DAY

[*********************100%***********************]  1 of 1 completed

12:20:38 INFO AbsStockQuoteLoader: Save df into cache
12:20:38 INFO FileCache: Save df into file ./cached_files/Yahoo__EURUSD=X__Day__2020-02-03__2020-02-06.csv

                     open      high       low     close  volume
start_date_time
2020-02-03       1.108906  1.108906  1.104350  1.108979       0
2020-02-04       1.106293  1.106562  1.103387  1.106293       0
2020-02-05       1.104472  1.104850  1.099832  1.104728       0

In [13]:
tmp_df = expected_df.copy()
tmp_df.index.name = "date_open"
tmp_df = tmp_df.reset_index()

In [14]:
tmp_df

   date_open      open      high       low     close  volume
0 2020-02-03  1.108906  1.108906  1.104350  1.108979       0
1 2020-02-04  1.106293  1.106562  1.103387  1.106293       0
2 2020-02-05  1.104472  1.104850  1.099832  1.104728       0

In [15]:
from NNTrade.common.candle_col_name import OPEN, CLOSE, HIGH, LOW, VOLUME

In [19]:
[kwargs['date_open'].date() for kwargs in tmp_df.to_dict(orient='records')]

[datetime.date(2020, 2, 3),
 datetime.date(2020, 2, 4),
 datetime.date(2020, 2, 5)]

In [6]:
dt = datetime.strptime("2020-02-03", "%Y-%m-%d").date()
dt

datetime.date(2020, 2, 3)

In [7]:
tmp_df["date_open"] = pd.to_datetime(tmp_df['date_open'], format="%Y-%m-%d")

In [8]:
tmp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date_open  3 non-null      datetime64[ns]
 1   open       3 non-null      float64
 2   high       3 non-null      float64
 3   low        3 non-null      float64
 4   close      3 non-null      float64
 5   volume     3 non-null      int64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 272.0 bytes

In [9]:
CandleDto.from_df(expected_df)[0].date_open

datetime.date(2020, 2, 3)

In [11]:
expected_df.index.name = "date_open"
expected_df

                open      high       low     close  volume
date_open
2020-02-03  1.108906  1.108906  1.104350  1.108979       0
2020-02-04  1.106293  1.106562  1.103387  1.106293       0
2020-02-05  1.104472  1.104850  1.099832  1.104728       0